! Xfont settings
Xft.antialias: 1
Xft.lcdfilter:lcddefault
Xcursor.size: 24

! basic xterm settings
xterm*termName:xterm-256color
xterm*locale:true
xterm*utf8:true
xterm*utf8Title:true

! xterm border
xterm*borderWidth: 0

! Make Alt work
XTerm*eightBitInput:   false
XTerm*eightBitOutput:  true

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! Scrollbacks
xterm*savelines: 16384

! Double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! Default font and size
xterm*faceName:Ubuntu Mono derivative Powerline:antialias=true:pixelsize=14
xterm*faceNameDoublesize:Noto Sans Mono CJK SC:antialias=true:pixelsize=14

! special
xterm*foreground:   #1d1f21
xterm*background:   #eeeeee
xterm*cursorColor:  #1d1f21

! black
xterm*color0:       #282a2e
xterm*color8:       #373b41

! red
xterm*color1:       #a54242
xterm*color9:       #a54242

! green
xterm*color2:       #8c9440
xterm*color10:      #8c9440

! yellow
xterm*color3:       #de935f
xterm*color11:      #de935f

! blue
xterm*color4:       #5f819d
xterm*color12:      #5f819d

! magenta
xterm*color5:       #85678f
xterm*color13:      #85678f

! cyan
xterm*color6:       #5e8d87
xterm*color14:      #5e8d87

! white
xterm*color7:       #707880
xterm*color15:      #c5c8c6

! Stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false

! xterm clipboard settings
xterm*Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
