!----------------
!  Xft Settings
!----------------

Xft*dpi: 100
Xft*antialias:  true
Xft*hinting:    true
Xft*rgba:       rgb
Xft*autohint:   false
Xft*hintstyle:  hintfull
Xft*lcdfilter:  lcddefault

!----------------
!  Walllpaper/cursor
!----------------
Xcursor.theme: Breeze

!----------------
!  Ask Pass theme
!----------------
ssh-askpass*background: #000000
